<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>华中大创客空间</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='main/css/swiper-3.3.0.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='main/css/animate.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='main/css/home.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='main/css/bootstrap.min.css') }}">
	<script src="{{ url_for('static', filename='main/js/jquery-1.11.3.min.js') }}"></script>
	<script src="{{ url_for('static', filename='main/js/sec-tabChange.js') }}"></script>
	<script src="{{ url_for('static', filename='main/js/dl.js') }}"></script>
</head>
<body>
	<div id="notice-tit" class="notice-tit">
		<ul>
			<li class="liclass select">
				<a href="{{ url_for('auth.login') }}" class="aclass">登录</a>
			</li>
			<li class="liclass">
				<a href="{{ url_for('main.main_edu') }}" class="aclass">创客教育</a>
			</li>
			<li class="liclass">
				<a href="{{ url_for('main.main_activity') }}" class="aclass">日常活动</a>
			</li>
			<li class="liclass">
				<a href="{{ url_for('main.main_maker') }}" class="aclass">创客秀</a>
			</li>
			<li class="liclass">
				<a href="{{ url_for('main.main_project') }}" class="aclass">项目秀</a>
			</li>
			<li class="liclass">
				<a href="{{ url_for('main.index') }}" class="aclass">首页</a>
			</li>
		</ul>
	</div>
	<div id="logo">
		<img src="{{ url_for('static', filename='main/img/Logo - Assistor.png') }}" height="48" width="230" alt="">
	</div>

	<div class="mod">
				<div class="owner">
					<div id="top">
						<div class="owner-label">
							<p>本周最热</p>
						</div>
						<div class="hot-owner-con">
							<div class="each-owner-con">
								<div class="push-pic">
									<a href="{{ url_for('main.') }}"><img src="../img/shili - Assistor.png" alt=""></a>
								</div>
								<div class="push-antipic">
									<div class="push-tit">
										<p><b>创客</b></p>
									</div>
									<div class="push-from">
										<p>软件学院2014级本科生</p>
									</div>
									<div class="push-intro">
										<p>项目：某个app</p>
										<p>个人简介：阿多尼斯你的锦囊</p>
									</div>
								</div>
							</div>
							<div class="each-owner-con">
								<div class="push-pic">
									<a href="chuangke/each-chaungke.html"><img src="../img/shili - Assistor.png" alt=""></a>
								</div>
								<div class="push-antipic">
									<div class="push-tit">
										<p><b>创客</b></p>
									</div>
									<div class="push-from">
										<p>软件学院2014级本科生</p>
									</div>
									<div class="push-intro">
										<p>项目：某个app</p>
										<p>个人简介：阿多尼斯你的锦囊</p>
									</div>
								</div>
							</div>
							<div class="each-owner-con">
								<div class="push-pic">
									<a href="chuangke/each-chaungke.html"><img src="../img/shili - Assistor.png" alt=""></a>
								</div>
								<div class="push-antipic">
									<div class="push-tit">
										<p><b>创客</b></p>
									</div>
									<div class="push-from">
										<p>软件学院2014级本科生</p>
									</div>
									<div class="push-intro">
										<p>项目：某个app</p>
										<p>个人简介：阿多尼斯你的锦囊</p>
									</div>
								</div>
							</div>
							<div class="each-owner-con">
								<div class="push-pic">
									<a href="chuangke/each-chaungke.html"><img src="../img/shili - Assistor.png" alt=""></a>
								</div>
								<div class="push-antipic">
									<div class="push-tit">
										<p><b>创客</b></p>
									</div>
									<div class="push-from">
										<p>软件学院2014级本科生</p>
									</div>
									<div class="push-intro">
										<p>项目：某个app</p>
										<p>个人简介：阿多尼斯你的锦囊</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="mid">
						<div class="owner-label">
							<p>所有创客</p>
						</div>
						<div class="owner-con">
							<div class="each-owner-con">
								<div class="push-pic">
									<a href="chuangke/each-chaungke.html"><img src="../img/shili - Assistor.png" alt=""></a>
								</div>
								<div class="push-antipic">
									<div class="push-tit">
										<p><b>创客</b></p>
									</div>
									<div class="push-from">
										<p>软件学院2014级本科生</p>
									</div>
									<div class="push-intro">
										<p>项目：某个app</p>
										<p>个人简介：阿多尼斯你的锦囊</p>
									</div>
								</div>
							</div>
							<div class="each-owner-con">
								<div class="push-pic">
									<a href="chuangke/each-chaungke.html"><img src="../img/shili - Assistor.png" alt=""></a>
								</div>
								<div class="push-antipic">
									<div class="push-tit">
										<p><b>创客</b></p>
									</div>
									<div class="push-from">
										<p>软件学院2014级本科生</p>
									</div>
									<div class="push-intro">
										<p>项目：某个app</p>
										<p>个人简介：阿多尼斯你的锦囊</p>
									</div>
								</div>
							</div>

							<div class="each-owner-con">
								<div class="push-pic">
									<a href="chuangke/each-chaungke.html"><img src="../img/shili - Assistor.png" alt=""></a>
								</div>
								<div class="push-antipic">
									<div class="push-tit">
										<p><b>创客</b></p>
									</div>
									<div class="push-from">
										<p>软件学院2014级本科生</p>
									</div>
									<div class="push-intro">
										<p>项目：某个app</p>
										<p>个人简介：阿多尼斯你的锦囊</p>
									</div>
								</div>
							</div>

							<div class="each-owner-con">
								<div class="push-pic">
									<a href="chuangke/each-chaungke.html"><img src="../img/shili - Assistor.png" alt=""></a>
								</div>
								<div class="push-antipic">
									<div class="push-tit">
										<p><b>创客</b></p>
									</div>
									<div class="push-from">
										<p>软件学院2014级本科生</p>
									</div>
									<div class="push-intro">
										<p>项目：某个app</p>
										<p>个人简介：阿多尼斯你的锦囊</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>


	<script>
	$(window).scroll(function() {
		if ($(document).scrollTop()+$(window).height()>=$(document).height()){
			$.ajax({
				url: '/path/to/file',
				type: 'default GET (Other values: POST)',
				dataType: 'json',
				data: {param1: 'value1'}
			})
			.done(function(data) {
				var kobe="<div>";
				$.each(data, function(index, val) {
					 kobe+="<div><a><img></a></div><div><div><p><b>"+val[创客姓名]+"</b></p></div><div><p>"+val[学院年级]+"</p></div><div><p>"+val[项目名]+"</p><p>"+val[个人简介]+"</p></div></div>"
				});
				kobe+="</div>";
				$(".owner-con").append(kobe);
				$(".owner-con>div").attr('class', 'each-owner-con');
				$(".each-owner-con>div:eq(0)").attr('class', 'push-pic');
				$(".each-owner-con>div:eq(1)").attr('class', 'push-antipic');
				// 创客链接
				$(".push-pic>a").attr('href', 'value');
				// 创客图片链接
				$(".push-pic>img").attr('src', 'value');
				
				$(".push-antipic:eq(0)").attr('class', 'push-tit');
				$(".push-antipic:eq(1)").attr('class', 'push-from');
				$(".push-antipic:eq(2)").attr('class', 'push-intro');
				console.log("success");
			})
			.fail(function() {
				console.log("error");
			})
			.always(function() {
				console.log("complete");
			});
			
		}
	});
	</script>
	<script>
		$(document).ready(function() {
    		$("#top-search").hide();
    	});
    	$("#top-find").click(function(event) {
    		if ($("#top-search").val() == 0) {
                        $("#top-search").show(300,function(){
                            $("#top-search").val(1);
                        })
                    } else {
                        $("#top-search").hide(300,function(){
                            $("#top-search").val(0);
                        })
                    }
    	});
    </script>
</body>
</html>